/* 
  Specific styles for the inventory.html page.
*/

/* Action Buttons Styling */
.action-btn {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
  color: var(--primary-color);
}

.action-btn:hover {
  color: var(--primary-dark);
}
.action-btn .material-symbols-outlined {
  font-size: 20px; /* Adjust icon size */
}
